/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.jump_header,
.jump_marketing,
.jump_footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.jump_header {
  padding-bottom: 20px;
  /*border-bottom: 1px solid #e5e5e5;*/
}
/* Make the masthead heading the same height as the navigation */
.jump_header jump_h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.jump_footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .jump_container {
    max-width: 730px;
  }
}
/* grid less css */
@media (min-width: 1200px){
  .jump_container {
    width: 1170px;
  }  
}



@media (min-width: 1200px){
  .jump_container {
    width: 1170px;
}  
}

@media (min-width: 992px){
  .jump_container {
    width: 970px;
}  
}

@media (min-width: 768px){
  .jump_container {
    width: 750px;
}  
}

.jump_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px){
  .jump_container {
    width: 1170px;
}  
.jump_container-narrow > hr {
  margin: 30px 0;
}

/*jumbotron less css*/
.jump_container .jump_jumbotron, .jump_container-fluid .jump_jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}
@media screen and (min-width: 768px){
  .jump_jumbotron {
    border-bottom: 0;
  }  
}

.jump_jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
@media screen and (min-width: 768px){
  .jump_jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
}  
}

.jump_jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}


/* Main marketing message and sign up button */
.jump_jumbotron {
  text-align: center;
  /*border-bottom: 1px solid #e5e5e5;*/
}
.jump_jumbotron .jump_btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.jump_marketing {
  margin: 40px 0;
}
.jump_marketing p + jump_h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .jump_header,
  .jump_marketing,
  .jump_footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .jump_header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jump_jumbotron {
    border-bottom: 0;
  }
}